<sly data-sly-use.siteSpecificConf="techiearchive.aem.core.models.SiteConfigModel">
    <div data-sly-test="${wcmmode.edit}" data-emptytext="Site Specific Basic Configurations" class="cq-placeholder"></div>

    <table>
        <tr>
            <th colspan="2" align="left">Basic</th>
        </tr>
        <tr>
            <td>Logo Icon</td>
            <td>${siteSpecificConf.logoIcon}</td>
        </tr>
        <tr>
            <td>Logo Icon Alt Text</td>
            <td>${siteSpecificConf.logoIconAltText}</td>
        </tr>
        <tr>
            <td>Logo Icon Link URL</td>
            <td>${siteSpecificConf.logoLinkURL}</td>
        </tr>
        <tr><td colspan="2"><hr></td></tr>
    </table>
</sly>
